.login-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  background: url("https://as2.ftcdn.net/v2/jpg/05/24/58/63/1000_F_524586378_YUHOSouIpIxG44uQSdGiRtHKGPuK7SEa.jpg")
    center center no-repeat fixed;
  background-size: cover;
  padding: 0 20px;
}

.login-box {
  width: 100%;
  max-width: 380px;
  padding: 24px;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: white;
}

.login-title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #ffffffdd;
  color: #000;
  border-radius: 14px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}

.login-btn img {
  width: 22px;
  height: 22px;
}

.login-btn:hover {
  background: #fff;
}

@media (min-width: 601px) {
  .login-page {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .login-page {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 34px;
  }

  .login-page {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    background: url("https://img.freepik.com/premium-photo/fitness-smile-portrait-friends-gym-teamwork-support-workout-motivation-coaching-health-with-people-training-sports-center-cardio-endurance-wellness-challenge_590464-130787.jpg?w=1060")
      center center no-repeat fixed;
    background-size: cover;
    padding: 0 20px;
  }
}
