.login-page {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  background: url("https://tse2.mm.bing.net/th/id/OIP.ay6z1-hDdskNpU58Ek0mjAHaEo?pid=Api&P=0&h=180")
    center center no-repeat fixed;
  background-size: cover;
  padding: 0 20px;
}

.login-box {
  width: 100%;
  max-width: 380px;
  padding: 24px;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: white;
}

.login-title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #ffffffdd;
  color: #000;
  border-radius: 14px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}

.login-btn img {
  width: 22px;
  height: 22px;
}

.login-btn:hover {
  background: #fff;
}

@media (min-width: 601px) {
  .login-page {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .login-page {
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 34px;
  }
}
